.container {
  display: flex;
}
.reminder-list {
  width: 40%;
  border: 2px solid red;
}

.reminder-date {
  font-size: .5em;
}

.spec-reminder-title {
  font-size: 1em;
}

.spec-reminder-item {
  width: 100%;
  font-weight: bold;
  padding: 10px;
  &:active {
    color: black;
    background-color: orange;
  }
  border: 1px solid black;
}

.reminder-notes {
  font-size: 1rem;
}

.clicked-reminder {
  width: 60%;
  background-color: yellow;
  padding: 10px;
  font-size: 1rem;
}

.add-new-reminder {
  border: 2px solid green;
}
