<form class="add-new-reminder" {{actions "testAction" on="submit"}}>
  <h1>Add new reminder</h1>
  <input type="text" class="title-input" placeholder="Reminder Title">
  <input type="text" class="notes-input" placeholder="Notes">
  <input type="date" class="date-input">
  <button >Submit</button>
</form>
