<section class="container">
<section class="reminder-list">
  {{#each model as |reminder|}}
  {{#link-to 'reminders.reminder' reminder tagName='article'}}
      <article class="spec-reminder-item">
        <h1 class="spec-reminder-title">{{reminder.title}}</h1>
        <p class="reminder-date">{{reminder.date}}</p>
        {{#if reminder.unsaved}}
        <div class="unsaved">UNSAVED</div>
        {{/if}}
      </article>
      {{/link-to}}
  {{/each}}
  {{#link-to 'reminders.new'}}
    <button class="go-to-create-new">New</button>
  {{/link-to}}
</section>
{{outlet}}
</section>
