<section class="reminder-list">
  {{#each model as |reminder|}}
    {{#link-to reminder_id}}
      <article class="spec-reminder-item reminder-title">
        <h1>{{reminder.title}}</h1>
        <p class="reminder-notes">{{reminder.notes}}</p>
        <p>{{reminder.id}}</p>
      </article>
    {{/link-to}}
  {{/each}}
</section>

{{outlet}}
